.App {
  text-align: center;
  height: 100vh;
  background-color: #2E2E2E;
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
}


// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
