.App {
  position: relative;
  text-align: center;
  height: 100vh;
  background-color: #2E2E2E;
  color: #fff;
  &__main-view {
    position: absolute;
    width: calc(330 / 360 * 100%);
    height: calc(100% - 120px);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    overflow-y: scroll;
  }
  *{
    box-sizing: border-box;
  }
}

.SingleDatePicker {
    width: 48px!important;
    height: 48px;
    padding: 0!important;
}
.SingleDatePickerInput__withBorder{
  border: none!important;
  width: 48px;
}
.SingleDatePickerInput {
  background-color: transparent!important;
}
.DateInput {
  width: 48px!important;
  opacity: 0;
}

@media (prefers-reduced-motion: no-preference) {
}


// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
